<h1 class="text-2xl">Por region</h1>
<h3 class="text-lg">Seleccione por region</h3>

<section class="row mt-2">
  <div class="flex-col">
    @for (region of regions; track region) {
    <button [ngClass]="{'btn-primary': query()===region}" class="btn btn-soft mx-5"
      (click)="query.set(region)">{{region}}</button>
    }
  </div>

</section>
<contry-list [countries]="resource.value() ?? []" [isEmpty]="resource.hasValue()" [isLoading]="resource.isLoading()"
  [errorMessage]="resource.error()"></contry-list>