<h2>Paginas</h2>
<hr>
<h3>Reactive</h3>
<ul class="list-group">
  @for (item of reactiveMenu; track item.route) {
  <li class="list-group-item" [routerLink]="item.route" routerLinkActive="active">{{item.title}}</li>
  }
</ul>
<h3>Auth</h3>
<ul class="list-group">
  @for (item of authMenu; track item.route) {
  <li class="list-group-item" [routerLink]="item.route" routerLinkActive="active">{{item.title}}</li>
  }
</ul>
<h3>Paises</h3>
<ul class="list-group">
  @for (item of countryMenu; track item.route) {
  <li class="list-group-item" [routerLink]="item.route" routerLinkActive="active">{{item.title}}</li>
  }
</ul>